/* V V V Index and General Things V V V */

.no-scroll {
  overflow: hidden;
}

.navColor {
  background-color: #080060;
}

a.navbar-brand,
ul.fullWidth.navbar-nav > li,
a.nav-link.active,
.fullWidth.navbar-nav .nav-link.active {
  color: white;
  vertical-align: middle;
}

.navexpanded .navbar-toggler {
  margin-top: auto;
  margin-bottom: auto;
}

ul.fullWidth.navbar-nav > li {
  margin-left: auto;
  margin-right: auto;
}

.fullWidth {
  width: auto;
}

ul.fullWidth.navbar-nav {
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
}

body,
html {
  height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("Imgs/code.gif");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 35%;
  left: 10%;
  color: white;
  font-size: 4vw;
  font-family: "noka", sans-serif;
  font-weight: 600;
  font-style: normal;
}

div.hero-text h1 {
  font-size: 6vw !important;
}

#flexGrowNo {
  flex-grow: 0;
}

button.navbar-toggler {
  margin: auto;
  height: auto;
  transform: scale(150%, 150%);
}

.navexpanded button.navbar-toggler {
  transform: rotate(180deg) scale(500%, 500%);
  opacity: 1;
}

.navexpanded {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 100;
  text-align: center;
  justify-content: center;
  opacity: 0.8;
}

nav {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 100;
}

.navbar-collapse {
  font-size: 1rem;
}

.navImg {
  max-width: 150%;
  height: auto;
  border-radius: 50%;
}

.navbar-button {
  color: #fff;
  font-weight: bold;
  background-color: #080060;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-button:hover {
  background-color: #040030;
}
.flex-tape {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#h1IndexContent {
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4vw !important;
  margin-top: 0 !important;
}
.pIndexContent {
  font-family: "ofelia-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
}

#pContentDiv {
  margin-top: 3.25%;
  margin-bottom: 3.25%;
  height: auto;
}

.captionDivIndex {
  height: 100%;
  position: relative;
}

.imgCaption {
  text-align: right;
}

.captionArrow {
  max-width: 40%;
  filter: invert(100%);
  transform: rotate(50deg);
  margin-left: auto;
}

.captionWrapperIndex {
  max-width: 50%;
  position: absolute;
  bottom: 7.5%;
  right: 7.5%;
}

.content-area {
  background-color: #21005d;
  color: white;
}

img[alt="TipCalcSS"] {
  max-height: 100vh;
  object-fit: cover;
  object-position: center;
}

.indexImg {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-notlink {
  text-decoration: none;
}

/* ^ ^ ^ Index and General Things ^ ^ ^ */

/* V V V About specific Css V V V */

.carousel[doc="about.html"] {
  display: none;
}

.pIndexContent[doc="about.html"] {
  font-size: 1.5vw;
}

.hero-image[doc="about.html"] {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("Imgs/FamilyPhoto2.jpg");
}

#carouselExampleIndicators[doc="about.html"] {
    height: 368.4px;
    position: relative;
}

.carousel-item img[doc="about.html"] {
    max-height: 368.4px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.carousel-indicators[doc="about.html"] {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    z-index: 1;
}

.carousel-control-prev[doc="about.html"],
.carousel-control-next[doc="about.html"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.medium-imgs[doc="about.html"] {
  margin: 30px 20%;
  max-width: 60%;
  height: auto;
  border-radius: 10%;
}

#imgsAboutPage[doc="about.html"]{
  display: block;
}

/* ^ ^ ^ About specific Css ^ ^ ^ */

/* V V V Education specific Css V V V */

#pContentDiv[doc="education.html"] {
  font-size: 1.75vw;
}

.hero-image[doc="education.html"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("Imgs/StevensHero.jpg");
}

.medium-imgs[doc="education.html"] {
  margin: 35% 10%;
  max-width: 80%;
  height: auto;
  border-radius: 10%;
}

/* ^ ^ ^ Education specific Css ^ ^ ^ */

/* V V V Work specific Css V V V */

.medium-imgs[doc="work.html"] {
  max-width: 100%;
  height: 400px;
  border-radius: 5%;
  object-fit: cover;
  object-position: center;
  border-style: solid;
  border-width: 10px;
  border-color: #fff;
  transition: 5s;
}

.no-pad[doc="work.html"] {
  padding: 0;
  min-height: 1500px;
}

.medium-imgs[doc="work.html"]:hover {
  border-color:#696969;
  transform: translate(0px, -20px);
}

/* ^ ^ ^ work specific Css ^ ^ ^ */

/* V V V Interests specific Css V V V */

.col-sm-4 img[doc="interests.html"] {
  max-width: 70%;
  min-width: 30%;
  display: block;
  margin: 10% auto;
  border-radius: 50%;
}

.col-sm-4[doc="interests.html"] {
  font-size: 1.4vw;
}

h3[doc="interests.html"] {
  font-size: 1.9vw !important;
}

div#interest-text .col-sm-4[doc="interests.html"] {
  display: grid;
  place-items: center;
}

.hero-image[doc="interests.html"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("Imgs/marvelComicBackground.jpg");
}

/* ^ ^ ^ Interests specific Css ^ ^ ^ */

/* V V V Media Query for everything (bootstrap-sm breakpoint)(When screen width <= 576px it is activated) V V V */
@media screen and (max-width: 576px) {
  .col-sm-4[doc="interests.html"] {
    font-size: 20px;
    text-align: center;
  }
  
  h3[doc="interests.html"] {
    font-size: 30px !important;
  }
  
  .col-sm-4 img[doc="interests.html"] {
    display: none;
  }
  
  .medium-imgs[doc="education.html"] {
    display: none;
  }

  .carousel[doc="about.html"] {
    display: block;
  }

  .imgCaption,
  .captionArrow {
    display: none;
  }

  .hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10vw;
  }

  div.hero-text h1 {
    font-size: 12vw !important;
  }

  .navexpanded {
    display: none;
  }

  img[alt="TipCalcSS"] {
    max-height: 25vh;
    object-fit: cover;
    object-position: center;
  }

  .indexImg {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pIndexContent {
    font-family: "ofelia-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem !important;
    text-align: center;
  }

  #h1IndexContent {
    font-family: "new-order", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem !important;
    text-align: center;
  }

  .footSectorContent {
    min-width: none;
    width: fit-content;
  }

  #last-nav {
    margin-left: auto;
    margin-right: auto;
  }
}
/* ^ ^ ^ Media Query for Everything ^ ^ ^ */

/* V V V Media Query for everything (bootstrap-sm breakpoint)(When screen width <= 575px it is activated) V V V */
@media screen and (max-width: 575px) {
    
    .carousel[doc="about.html"] {
        display: block;
    }

    #imgsAboutPage[doc="about.html"] {
      display: none;
    }

}

/* ^ ^ ^ Media Query for Everything (575px) ^ ^ ^ */

